@{
    ViewBag.Title = "About";
}


<div class="container  ">
    <div class="jumbotron aboutMain">
        <h1>@ViewBag.Title</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>My BucketList is all about helping you to create a list of things you should do before it is too late.</h3>
                    <p>@ViewBag.Message  You only live once!</p>
                </div>
            </div>
    
        </div>


    </div>
    </div>