@{ 
    Layout = null;
}
@model IEnumerable<BucketList.Models.TopGoal>




<div class="col-lg-4 col-lg-offset-1 ">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list-ul fa-fw"></i> @Html.DisplayNameFor(model => model.Top10Goals)</h3>
        </div>

        <div class="panel-body">
@foreach (var item in Model)
{
            <div class="list-group">
             
                    @Html.DisplayFor(modelItem => item.Top10Goals, new { @class = "list-group-item" })
            <hr />
            </div>
    }
        </div>

    </div>
</div>





 

      


    





